<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.asiainfo.android.wo.bp.demo"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="21"/>

    <!-- SDK Permission -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar">

        <!-- SDK Activity -->
        <activity
                android:name="com.asiainfo.android.wo.bp.ui.PayWithoutCodeActivity"
                android:exported="true"/>
        <activity
                android:name="com.asiainfo.android.wo.bp.ui.PayWithCodeActivity"
                android:exported="true"/>

        <!-- SDK Receiver -->
        <receiver
                android:name="com.asiainfo.android.wo.bp.receiver.SMSBroadcastReceiver"
                android:exported="false">
            <intent-filter>
                <action android:name="com.asiainfo.android.wo.bp.PAYTIMEOUT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.asiainfo.android.wo.bp.SEND_MESSAGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.asiainfo.android.wo.bp.DELIVERY_MESSAGE"/>
            </intent-filter>
        </receiver>

        <!-- Demo Activity -->
        <activity
                android:name=".Home"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>